<template>
  <div class="grid">
    <div
      class="grid-item"
      :class="{playing: videoId === playing}"
      v-for="videoId in videoIds"
      :key="videoId"
    >
      <youtube-thumbnail @click="play(videoId)" :videoId="videoId" />
      <div class="video-container" v-if="videoId === playing">
        <youtube-player :videoId="videoId" />
      </div>
    </div>
  </div>
</template>

<script>
import YoutubeThumbnail from "./YoutubeThumbnail";
import YoutubePlayer from "./YoutubePlayer";

export default {
  name: "YoutubeGrid",
  components: {
    YoutubeThumbnail,
    YoutubePlayer
  },
  props: {
    videoIds: Array
  },
  data() {
    return {
      playing: null
    };
  },
  methods: {
    play(videoId) {
      this.playing = videoId;
    }
  }
};
</script>

<style scoped lang="scss">
$offset: 20px;

.grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  &-item {
    cursor: pointer;
    position: relative;
    padding: 20px;

    width: calc(100% / 3);

    @media screen and (max-width: 650px) {
      width: 50%;
    }

    @media screen and (max-width: 560px) {
      width: 100%;
    }

    &.playing::after {
      display: block;
      position: absolute;
      top: $offset;
      left: $offset;
      right: $offset;
      bottom: $offset;
      content: " ";
      background: url("../assets/spinner.gif") center center no-repeat;
      background-size: 70px;
      z-index: 1;
    }
  }
}

.video-container {
  position: absolute;
  top: $offset;
  left: $offset;
  right: $offset;
  bottom: $offset;
  max-width: 100%;
  z-index: 2;
}
</style>
