<template>
  <div class="youtube-thumbnail" @click="$emit('click', $attrs.videoId)">
    <img class="youtube-thumbnail__preview" :src="previewImg" />
    <div v-if="title" class="youtube-thumbnail__title">{{ title }}</div>
  </div>
</template>

<script>
import { createVideoThumbnail, createVideoUrl } from "@/utils";
import { getYoutubeDataQueue, getYoutubeData } from "@/services";

export default {
  name: "YoutubeThumbnail",
  prop: {
    videoId: String
  },
  data() {
    return {
      title: ""
    };
  },
  computed: {
    previewImg() {
      return createVideoThumbnail(this.$attrs.videoId);
    }
  },
  methods: {
    async loadTitle() {
      try {
        // @TryMe: const { title } = await getYoutubeData(this.$attrs.videoId);
        const { title } = await getYoutubeDataQueue(this.$attrs.videoId);

        this.title = title;
      } catch (e) {
        console.error(e);
      }
    }
  },
  async mounted() {
    this.loadTitle();
  }
};
</script>

<style lang="scss" scoped>
.youtube-thumbnail {
  position: relative;
  overflow: hidden;
  max-width: 480px;
  max-height: 270px;

  &__preview {
    width: 100%;
    object-fit: cover;
    max-width: 480px;
    max-height: 270px;
  }

  &__title {
    position: absolute;
    background: rgba(0, 0, 0, 0.3);
    color: white;
    margin: 20px;
    padding: 5px;
    max-width: 100%;
    left: 0;
    right: 0;
    bottom: 0;
  }
}
</style>
