<template>
  <iframe width="100%" height="100%" :src="videoSrc" frameborder="0" allowfullscreen></iframe>
</template>

<script>
import { createEmbedVideoUrl } from "@/utils";
export default {
  name: "YoutubePlayer",
  prop: {
    videoId: String
  },
  computed: {
    videoSrc() {
      return createEmbedVideoUrl(this.$attrs.videoId);
    }
  }
};
</script>

<style lang="scss" scoped>
iframe {
  display: block;
}
</style>

