<template>
  <YoutubeGrid v-bind:videoIds="videoIds" />
</template>

<script>
import qs from "query-string";
import YoutubeGrid from "./components/YoutubeGrid.vue";

const rvideoId = /[a-z0-9-_]{11}/i;
const rdiv = /\s*,\s*/;

export default {
  name: "app",
  components: {
    YoutubeGrid
  },
  data() {
    const { id = "" } = qs.parse(location.search) || {};
    const uniqIds = new Set(id.split(rdiv));
    const videoIds = [...uniqIds].filter(videoId => rvideoId.test(videoId));

    return {
      videoIds
    };
  }
};
</script>

<style lang="scss">
* {
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
  background: #323232;
}
</style>
